<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/foto de perfil.png" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">Mansilla Monica Gabriela</p>
<p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1 >Acerca de Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nobis bcdeatae ab repellendus commodi hic voluptatem, voluptatum accusamus aperiam veritatis impedit, quas consequuntur labore sapiente suscipit laborum doloribus nostrum molestias.</p>
    </span>
</div>
</div>
