<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-12">
    <ul>
        <li><h1> Trabajo 1</h1> -
        <h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere cum blanditiis corporis error eaque maxime nam perspiciatis, doloremque quam fugiat perferendis quae autem natus. Autem, at quos! Beatae, ab tempora.</p>
        </ul>
        <ul>
            <li><h1> Trabajo 2</h1> -
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere cum blanditiis corporis error eaque maxime nam perspiciatis, doloremque quam fugiat perferendis quae autem natus. Autem, at quos! Beatae, ab tempora.</p>
            </ul>
        <ul>
                <li><h1> Trabajo 3</h1> -
                <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere cum blanditiis corporis error eaque maxime nam perspiciatis, doloremque quam fugiat perferendis quae autem natus. Autem, at quos! Beatae, ab tempora.</p>
                </ul>
</div>
</div>
